<div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table full-ancho" id="tabla-ambiente-usos">
                    <thead>
                        <tr>
                            <th>Fecha revisión</th>
                            <th>Usuario</th>
                            <th>Uso</th>
                            <th>Código</th>
                            <th>Dependencia</th>
                            <th>Aula</th>
                            <th>Subambientes</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




