<div class="row">
    <div class="col-md-12">
        <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="table-responsive">
                <table class="table full-ancho" id="tabla-bloques">
                    <thead>
                        <tr>
                            <th>Número de bloque</th>
                            <th>Número de pisos</th>
                            <th>Número de ambientes</th>
                            <th class="tabla-accion">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



